@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$brownOrange: #ab842a !important;
$titlFont: 'Cormorant',serif;
body{
    padding: 0px !important;
    margin: 0px !important;
}


.no-top{
    top: 0px!important;
}

.title{
    font-size: 3em;
    font-weight: 600;
}

.title-font{
    font-family: $titlFont;
}

.text-orange-brown{
    color: #ab842a !important;
}

.underline{
    width: 50px;
    border-bottom: 1px solid $brownOrange;
    display: inline-block;
}

.border-white{
    border-bottom: 1px solid #fff!important;
}

.text-title-lg{
    font-size: 1.1em;
}

.card{
    border-radius: 0px!important;
}

.navbar{
    z-index: 5;
    background-color: transparent!important;
    .dropdown{
        &-submenu {
            position: relative;
            a{
                &::after{
                    transform: rotate(-90deg);
                    position: absolute;
                    right: 6px;
                    top: .8em;
                }
            }
            .dropdown-menu{
                top: 0;
                left: 100%;
                margin-left: .1rem;
                margin-right: .1rem;
            }
        }
    }
    .navbar-nav{
        .nav-link{
            color: #fff;
            a{
                color: #fff;
            }
        }
        .active{
            a{
                color: #ab842a !important;
            }
        }
    }
    a{
        .fas{
            font-size: 12px;
            font-weight: 300px;
        }
    }
    .btn-cta{
        background-color: #234467;
        border-radius: 0px;
        
        &:before{
            background: #ab842a !important;
        }
    }
}

header.fixed-nav{
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    background-color: #000!important;
    box-shadow: 5px -1px 12px -5px grey;
    z-index: 10;
}



#main{
    section{
        position: relative;
    }
    .hero{
        min-height: 80vh;
        position: relative;
        top: -70px;
        z-index: -1;
        background: url('../img/hero-img.jpg') no-repeat;
        background-size: cover;
        .container{
            .hero-text-block{
                .subtitle{
                    .underline{
                        width: 30px;
                        border-bottom: 1px solid $brownOrange;
                    }
                }
                .title{
                    color: #fff;
                }
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: #020d26;
            opacity: 0.8;
        }
    }
    .hero-text-block{
        min-height: 70vh;
        position: relative;
        z-index: 5;
        
        display: flex;
        align-items: center;
        justify-content: center;

        .container{
            .subtitle{
                color: $brownOrange;
                text-transform: uppercase;
                font-weight: 500;
                span.underline{
                    display: inline-block;
                    width: 50px!important;
                    border-bottom: 1px solid $brownOrange;
                }
            }
            .title{
                color: #fff;
                font-family: $titlFont;
            }
        }
    }

    #facilities-and-services{
        background-color: #FBF3E9;
        margin-top: -80px;
        .container{            
            .row{
                .service-card{
                    text-align: center;
                    box-sizing: border-box !important;

                    background-image: linear-gradient(to left,
                            transparent,
                            transparent 50%,
                            #234467 50%,
                            #234467);
                    background-position: 100% 0;
                    background-size: 200% 100%;
                    transition: all 0.8s ease-in-out;
                    
                    border: none;
                    h5{
                        color: #234467;
                    }
                    .service-icon::before{
                        font-size: 5em;
                    }
                    a{
                        text-decoration: none;
                    }
                    &:hover{
                        background-position: 0 0;
                        color: #fff;
                        h5{
                            color: #fff;
                        }
                    }
                    &::before{
                        background-color: #234467;
                    }
                }
            }
        }
    }

    #amenities-we-offer{
        min-height: 80vh;
        background: url('../img/amenities-bg.jpg') no-repeat;
        background-size: cover;  
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: #020d26;
            opacity: 0.8;
        }      
    }
    .amenities-box:nth-child(odd) .amenities-card{
        background-color: #fff;
        color: #777;

        background-image: linear-gradient(to left,
                            transparent,
                            transparent 50%,
                            #ab842a 50%,
                            #ab842a);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all 0.8s ease-in-out;

        border: none;
        h4{
            color: #000;
        }

        &:hover{
            background-position: 0 0;
            color: #fff;
            h4{
                color: #fff;
            }
        }
    }
    .amenities-card{
        background-color: #ab842a;
        color: #fff;
        transition: 0.3s ease-in-out;
        .amenities-icon::before{
            font-size: 5em;
        }
        .icon-container{
            position: relative;
            height: 100px;
            .amenities-icon{
                position: absolute;
                right: 10px;
                color: #dcbe77;
            }
        }
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
    #efficiency-energy{
        position: relative;
        .icon-container{    
            height: 80px;            
            .efficiency-icon::before{
                font-size: 5em;
            }
        }
        
        .efficiency-icon{
            position: absolute;
            right: -5px;
            bottom: -20px;
            color: #eee;
        }
        .card{
            &:hover{
                h3{
                    color: #ab842a;
                }
            }
        }
    }

    #newsletter{
        background-color: #FBF3E9;
        .newsletter-icon::before{
            font-size: 1.1em;
            position: relative;
            top: 5px;
        }
        input{
            padding: 15px;
            border-radius: 0px;
        }
        button{
            border-radius: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $brownOrange;
            color: #fff;
        }        
    }

}

footer{
    #main-footer{
        background-color:#162C44;
        color: #aec5df;
        ul.social-media-icons{
            padding: 0px;
            li.social-icon{
                text-decoration: none;
                padding: 0px;
                list-style: none;
                display: inline-block;
                color: #fff;
                a{
                    transition: all 0.5s;
                    &.fb i{
                        background-color: #3b5998;
                    }
                    &.tw i{
                        background-color: #55acee;
                    }
                    &.ig i{
                        background-color: #3f729b;
                    }
                    &.pt i{
                        background-color: #ff0000;
                    }
                    &.yt i{
                        background-color: #c80000;
                    }
                }
                i{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    transition: all 0.5s;
                }
                &:hover a{
                    text-decoration: none;
                }
                &:hover a>i{
                    background-color: #db8c23;
                    animation: tada 1s linear;
                }
            }
        }
        ul.quick-links{
            padding: 0px;
            li{
                list-style: none;
                padding: 0px;
            }
            a{
                color: #aec5df;
                text-decoration: none;
                i{
                    font-size: 10px;
                }
                &:hover{
                    color: #fff;
                }
            }
        }
        ul.footer-gallery{
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            list-style-type: none;
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: 0;
            li{
                flex: 0 0 33.33%;
                max-width: 33.33%;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                a{
                    display: block;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        transition: all 0.5s;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover{
                        color: #0a58ca;
                        &::before{
                            opacity: .50;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    #lower-footer{
        background-color: #234467;
        a{
            color: $brownOrange;
            text-decoration: underline;
            font-weight: bold;
            transition: 0.5s ease-in-out;
            &:hover{
                color: #fff!important;
            }
        }
    }
}

#back-to-top{
    background-color: $brownOrange;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    .btt-container{

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        color: #fff;
    }
}

@media (max-width: 576px) { 
    .navbar{
        background-color: #db8c23!important;
        .navbar-toggler{    
            border: none;
        }
        .navbar-toggler-icon{
            background-image: url('/assets/img/hamburger-smartphone.svg');
            color: #fff;
        }

        .navbar-nav{
            li{

            }
            .active a{
                color: #fff!important;
                font-weight: bold;
            }
        }
        .btn-cta{
            width: 100%;
        }
    }

    #amenities-we-offer{
        h1{
            font-size: 0.9em;
            margin-bottom: 20px;
        }
    }

    #main-footer{
        .title-font{
            font-size: 1.5em;
        }
        .contact-value{
            display: block;
        }
        .footer-gallery{
            img{
                width: 100%;
            }
            ul li{
                flex: 0 0 50%;
                max-width: 50%;

            }
        }
    }
}