@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  padding: 0px !important;
  margin: 0px !important;
}

.no-top {
  top: 0px !important;
}

.title {
  font-size: 3em;
  font-weight: 600;
}

.title-font {
  font-family: "Cormorant", serif;
}

.text-orange-brown {
  color: #ab842a !important;
}

.underline {
  width: 50px;
  border-bottom: 1px solid #ab842a !important;
  display: inline-block;
}

.border-white {
  border-bottom: 1px solid #fff !important;
}

.text-title-lg {
  font-size: 1.1em;
}

.card {
  border-radius: 0px !important;
}

.navbar {
  z-index: 5;
  background-color: transparent !important;
}

.navbar .dropdown-submenu {
  position: relative;
}

.navbar .dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.navbar .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link a {
  color: #fff;
}

.navbar .navbar-nav .active a {
  color: #ab842a !important;
}

.navbar a .fas {
  font-size: 12px;
  font-weight: 300px;
}

.navbar .btn-cta {
  background-color: #234467;
  border-radius: 0px;
}

.navbar .btn-cta:before {
  background: #ab842a !important;
}

header.fixed-nav {
  width: 100%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #000 !important;
  -webkit-box-shadow: 5px -1px 12px -5px grey;
          box-shadow: 5px -1px 12px -5px grey;
  z-index: 10;
}

#main section {
  position: relative;
}

#main .hero {
  min-height: 80vh;
  position: relative;
  top: -70px;
  z-index: -1;
  background: url("../img/hero-img.jpg") no-repeat;
  background-size: cover;
}

#main .hero .container .hero-text-block .subtitle .underline {
  width: 30px;
  border-bottom: 1px solid #ab842a !important;
}

#main .hero .container .hero-text-block .title {
  color: #fff;
}

#main .hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #020d26;
  opacity: 0.8;
}

#main .hero-text-block {
  min-height: 70vh;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .hero-text-block .container .subtitle {
  color: #ab842a !important;
  text-transform: uppercase;
  font-weight: 500;
}

#main .hero-text-block .container .subtitle span.underline {
  display: inline-block;
  width: 50px !important;
  border-bottom: 1px solid #ab842a !important;
}

#main .hero-text-block .container .title {
  color: #fff;
  font-family: "Cormorant", serif;
}

#main #facilities-and-services {
  background-color: #FBF3E9;
  margin-top: -80px;
}

#main #facilities-and-services .container .row .service-card {
  text-align: center;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #234467), to(#234467));
  background-image: linear-gradient(to left, transparent, transparent 50%, #234467 50%, #234467);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border: none;
}

#main #facilities-and-services .container .row .service-card h5 {
  color: #234467;
}

#main #facilities-and-services .container .row .service-card .service-icon::before {
  font-size: 5em;
}

#main #facilities-and-services .container .row .service-card a {
  text-decoration: none;
}

#main #facilities-and-services .container .row .service-card:hover {
  background-position: 0 0;
  color: #fff;
}

#main #facilities-and-services .container .row .service-card:hover h5 {
  color: #fff;
}

#main #facilities-and-services .container .row .service-card::before {
  background-color: #234467;
}

#main #amenities-we-offer {
  min-height: 80vh;
  background: url("../img/amenities-bg.jpg") no-repeat;
  background-size: cover;
}

#main #amenities-we-offer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #020d26;
  opacity: 0.8;
}

#main .amenities-box:nth-child(odd) .amenities-card {
  background-color: #fff;
  color: #777;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #ab842a), to(#ab842a));
  background-image: linear-gradient(to left, transparent, transparent 50%, #ab842a 50%, #ab842a);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border: none;
}

#main .amenities-box:nth-child(odd) .amenities-card h4 {
  color: #000;
}

#main .amenities-box:nth-child(odd) .amenities-card:hover {
  background-position: 0 0;
  color: #fff;
}

#main .amenities-box:nth-child(odd) .amenities-card:hover h4 {
  color: #fff;
}

#main .amenities-card {
  background-color: #ab842a;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#main .amenities-card .amenities-icon::before {
  font-size: 5em;
}

#main .amenities-card .icon-container {
  position: relative;
  height: 100px;
}

#main .amenities-card .icon-container .amenities-icon {
  position: absolute;
  right: 10px;
  color: #dcbe77;
}

#main .amenities-card:hover {
  background-color: #fff;
  color: #000;
}

#main #efficiency-energy {
  position: relative;
}

#main #efficiency-energy .icon-container {
  height: 80px;
}

#main #efficiency-energy .icon-container .efficiency-icon::before {
  font-size: 5em;
}

#main #efficiency-energy .efficiency-icon {
  position: absolute;
  right: -5px;
  bottom: -20px;
  color: #eee;
}

#main #efficiency-energy .card:hover h3 {
  color: #ab842a;
}

#main #newsletter {
  background-color: #FBF3E9;
}

#main #newsletter .newsletter-icon::before {
  font-size: 1.1em;
  position: relative;
  top: 5px;
}

#main #newsletter input {
  padding: 15px;
  border-radius: 0px;
}

#main #newsletter button {
  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ab842a !important;
  color: #fff;
}

footer #main-footer {
  background-color: #162C44;
  color: #aec5df;
}

footer #main-footer ul.social-media-icons {
  padding: 0px;
}

footer #main-footer ul.social-media-icons li.social-icon {
  text-decoration: none;
  padding: 0px;
  list-style: none;
  display: inline-block;
  color: #fff;
}

footer #main-footer ul.social-media-icons li.social-icon a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #main-footer ul.social-media-icons li.social-icon a.fb i {
  background-color: #3b5998;
}

footer #main-footer ul.social-media-icons li.social-icon a.tw i {
  background-color: #55acee;
}

footer #main-footer ul.social-media-icons li.social-icon a.ig i {
  background-color: #3f729b;
}

footer #main-footer ul.social-media-icons li.social-icon a.pt i {
  background-color: #ff0000;
}

footer #main-footer ul.social-media-icons li.social-icon a.yt i {
  background-color: #c80000;
}

footer #main-footer ul.social-media-icons li.social-icon i {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #main-footer ul.social-media-icons li.social-icon:hover a {
  text-decoration: none;
}

footer #main-footer ul.social-media-icons li.social-icon:hover a > i {
  background-color: #db8c23;
  -webkit-animation: tada 1s linear;
          animation: tada 1s linear;
}

footer #main-footer ul.quick-links {
  padding: 0px;
}

footer #main-footer ul.quick-links li {
  list-style: none;
  padding: 0px;
}

footer #main-footer ul.quick-links a {
  color: #aec5df;
  text-decoration: none;
}

footer #main-footer ul.quick-links a i {
  font-size: 10px;
}

footer #main-footer ul.quick-links a:hover {
  color: #fff;
}

footer #main-footer ul.footer-gallery {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0;
}

footer #main-footer ul.footer-gallery li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

footer #main-footer ul.footer-gallery li a {
  display: block;
  position: relative;
}

footer #main-footer ul.footer-gallery li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

footer #main-footer ul.footer-gallery li a:hover {
  color: #0a58ca;
}

footer #main-footer ul.footer-gallery li a:hover::before {
  opacity: .50;
  visibility: visible;
}

footer #lower-footer {
  background-color: #234467;
}

footer #lower-footer a {
  color: #ab842a !important;
  text-decoration: underline;
  font-weight: bold;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer #lower-footer a:hover {
  color: #fff !important;
}

#back-to-top {
  background-color: #ab842a !important;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#back-to-top .btt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  color: #fff;
}

@media (max-width: 576px) {
  .navbar {
    background-color: #db8c23 !important;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .navbar .navbar-toggler-icon {
    background-image: url("/assets/img/hamburger-smartphone.svg");
    color: #fff;
  }
  .navbar .navbar-nav .active a {
    color: #fff !important;
    font-weight: bold;
  }
  .navbar .btn-cta {
    width: 100%;
  }
  #amenities-we-offer h1 {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  #main-footer .title-font {
    font-size: 1.5em;
  }
  #main-footer .contact-value {
    display: block;
  }
  #main-footer .footer-gallery img {
    width: 100%;
  }
  #main-footer .footer-gallery ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
/*# sourceMappingURL=custom.css.map */